#ppr-banner {
    padding: 15px 5px;
    background: #F7DF04;
    color: #111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    z-index: 10000;
}

#ppr-banner-policy {
    color: #DB4C1C;
}
